* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
    color: #f1f5f9;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #0b1220;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #f1f5f9;
    text-decoration: none;
}

.logo {
    color: #22c55e;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
}

.hero-text h1 span {
    color: #22c55e;
}

.hero-img img {
    width: 220px;
    height: 240px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #22c55e;
}

section {
    padding: 60px 10%;
}

.projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px) scale(1.02);
    background: #334155;
}
.tech-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tech-grid span {
    background: #1e293b;
    padding: 10px 15px;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0b1220;
}
.tech-grid span {
    border: 1px solid #22c55e;
    transition: 0.3s;
}

.tech-grid span:hover {
    background: #22c55e;
    color: black;
}